:root{
    --color-brand-one: #4C6FE5;
    --color-brand-two: #364FC7;
    --color-gray-one: #191C1F;
    --color-gray-two: #212529;
    --color-gray-three: #343A40;
    --color-gray-four: #ADB5BD;
    --color-gray-five: #CED4DA;
    --color-gray-six: #EDF2FF;
    --color-gray-seven: #F8F9FA;

    --font-primary: "Inter", sans-serif;


}