dialog {
    border: 2px solid var(--color-brand-one);

    padding: 0;
    margin: auto;
    max-width: 90vw;
}
::backdrop{
  background-color: #191C1FCC;
 
}

.modal__container{
  background-color: var(--color-gray-two);
  width: 31.5rem;
  max-width: 100%;
  box-sizing: border-box;
  padding: 2.5rem;
  gap:1.938rem;
  display: flex;
  flex-direction: column;
  color: var(--color-gray-seven);
  align-content: center;
  justify-content: space-evenly;
}

.modal-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.title-modal-header{
  font-family: "Inter";
  font-weight: 600;
  font-size:clamp(1rem, 0.29rem + 2.671vw, 2rem);
  color: var(--color-gray-seven);
}

.form-modal{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  gap:1.25rem;
}

.input-modal{
  width: 28rem;
  background-color: var(--color-gray-one);
  border: 1px solid var(--color-gray-one);
  padding-block: 0.875rem;
  color: var(--color-gray-seven);
}

::placeholder{
  padding: 1rem;
  background-color: var(--color-gray-one);
  color: var(--color-gray-four);
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 30px;
}

.input-modal:focus{
  border: 1px solid var(--color-brand-one);
}

.button-modal{
  width: 28rem;
  height: 3.75rem;
  background-color: var(--color-brand-one);
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-gray-seven);
  border: 1px solid var(--color-brand-one);
}

.modal-paragraph{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-gray-four);
}

.button-modal:hover{
  background-color: var(--color-brand-two);
}

.button-close-modal{
  font-family: var(--font-secondary);
  color:var(--color-gray-four);
  font-weight: 400;
  font-size: 20px;

}

.div-button-close{
  background-color: var(--color-gray-three);
  width: 2.375rem;
  height: 2rem;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
